<h1>Editing {{user.name}}</h1>
<form action="/users/update" method="POST" class="form">
  <input type="hidden" name="id" value="{{user.id}}">
  <div class="form-control">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Type username:" value="{{user.name}}">
  </div>
  <div class="form-control">
    <label for="occupation">Profession:</label>
    <input type="text" name="occupation" placeholder="Type your job:" value="{{user.occupation}}">
  </div>
  </div>
  <div class="form-control form-checkbox">
    {{#if user.newsletter}}
    <input type="checkbox" name="newsletter" checked>
    {{else}}
    <input type="checkbox" name="newsletter">
    {{/if }}
    <label for="newsletter">Send newsletter?</label>
  </div>
  <input type="submit" value="Edit">
</form>
<div class="address-container">
  <h2>Address:</h2>
  <form action="/address/create" method="POST">
    <input type="hidden" name="UserId" value="{{user.id}}">
    <div class="form-control">
      <label for="street">Street address</label>
      <input type="text" name="street" placeholder="type your street name">
    </div>
    <div class="form-control">
      <label for="number">street number</label>
      <input type="text" name="number" placeholder="type your street number">
    </div>
    <div class="form-control">
      <label for="city">type your city</label>
      <input type="text" name="city" placeholder="type your city name">
    </div>
    <input type="submit" value="Include address">
  </form>
  <div class="address-list">
    <h2>Address List:</h2>
    {{#each user.Addresses}}
      <div>#{{this.id}} - 
        {{this.street}} - 
        {{this.number}} - 
        {{this.city}}
        <form action="/address/delete" method="POST">
         <input type="hidden" name="UserId" value="{{this.UserId}}">
        <input type="hidden" name="id" value="{{this.id}}">
        <input type="submit" value="Delete address">
        </form>
        </div>
    {{/each}}
  </div>
</div>